*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* margin: 0;
  padding: 0; */
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

body {
  padding: 0;
  margin: 0;
  /* background: var(--kio-background-color2); */
  /* transition: all 250ms ease; */
}

::-webkit-scrollbar {
  display: none;
}

:root {
}

