.aroot {
  border-radius: var(--digi-border-radius-lg);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--digi-border-radius-lg);
  background-color: var(--digi-accent-color);
  color: var(--digi-light-text-color1);
  font-size: 14px;
  border: 1px solid;
  outline: none;
  text-align: center;
  font-weight: 600;
  position: relative;
  padding: 15px 25px;


}

.aroot:active {
  border: 1px solid var(--digi-background-color1);
  /* outline: 3px solid var(--digi-border-color1); */
  box-shadow: 0px 0px 0px 3px var(--digi-border-color1);
  -webkit-box-shadow: 0px 0px 0px 3px var(--digi-border-color1);
  -moz-box-shadow: 0px 0px 0px 3px var(--digi-border-color1);
}

.outlined:active {
  border: 1px solid var(--digi-accent-color);
  box-shadow: 0px 0px 0px 3px var(--digi-border-color1);
  -webkit-box-shadow: 0px 0px 0px 3px var(--digi-border-color1);
  -moz-box-shadow: 0px 0px 0px 3px var(--digi-border-color1);
}


/* conditional styles  */
.isFullwidth {
  width: 100%;
}

.small {
  padding: 9px 20px;
}

.outlined {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid var(--digi-accent-color);
  color: var(--digi-dark-text-color1);
}


.aroot:disabled::after {
  position: absolute;
  inset: 0;
  background-color: rgba(44, 44, 44, 0.756);
  width: 100%;
  height: 100%;
  content: '';
  cursor: not-allowed;
}

.responsive {
  padding: 15px 40px;
}

@media screen and (max-width: 900px) {
  .responsive {
    padding: 12px 30px;
  }
}

@media screen and (max-width: 600px) {
  .responsive {
    padding: 10px 20px;
  }
}