.root {
  padding: 15px 18px;
  font-size: 14px;
  font-weight: 400;
  outline: none;
  box-sizing: border-box;
  border: 1px solid var(--digi-border-color2);
  background-color: rgba(255, 255, 255, 0.47);
  border-radius: 50px;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  -webkit-user-select: text;
  -webkit-appearance: none;
  appearance: none;
}


.root:focus {
  border: 1px solid var(--digi-accent-color);
  box-shadow: 0px 0px 0px 3px var(--digi-border-color1);
  -webkit-box-shadow: 0px 0px 0px 3px var(--digi-border-color1);
  -moz-box-shadow: 0px 0px 0px 3px var(--digi-border-color1);
}

.isFullwidth {
  width: 100%;
}