.aForm {
  border: 1px solid var(--digi-border-color3);
  border-radius: var(--digi-border-radius-lg);
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 20px;
}

@media screen and (max-width: 600px) {
  .aForm {
    width: 100%;
    border: 1px solid transparent;
  }
}